# database stuff for remote DB hosting
db_pwd = ""
db_db = ""
db_user = ""	
db_host = ""
db_table = "sonsor_reading"

# where to log our stuff to
logFile="/var/log/weatherData.log"

# what one bucket tip on the rainfall sensor equals
RAIN_CALIBRATION = 0.2794
RAIN_GPIO = 6

# how often are we going to be reading our data from teh outside world, in seconds
readInterval = 60

# set to true to start sending stuff to wunderground
WEATHER_UPLOAD = True

# the weather underground settings
WU_URL = "http://weatherstation.wunderground.com/weatherstation/updateweatherstation.php"
wu_station_id = ""
wu_station_key = ""

# age of event objects to keep, in seconds
# 720 = 12 minutes
# 90000 = 25 hours
W_SPD_EVENTS_PERIOD = 720
RAIN_EVENTS_PERIOD = 90000
 

###################################################################################
# WUNDERGROUP API REFERENCE
# 
# http://wiki.wunderground.com/index.php/PWS_-_Upload_Protocol
#
#-----FIELDS-----
# action=updateraw
# ID
# PASSWORD
# dateutc=now
# winddir - [0-360 instantaneous wind direction]
# windspeedmph - [mph instantaneous wind speed]
# windgustmph - [mph current wind gust, using software specific time period]
# windgustdir - [0-360 using software specific time period]
# windspdmph_avg2m  - [mph 2 minute average wind speed mph]
# winddir_avg2m - [0-360 2 minute average wind direction]
# windgustmph_10m - [mph past 10 minutes wind gust mph ]
# windgustdir_10m - [0-360 past 10 minutes wind gust direction]
# humidity - [% outdoor humidity 0-100%]
# dewptf- [F outdoor dewpoint F]
# tempf - [F outdoor temperature] 
#  * for extra outdoor sensors use temp2f, temp3f, and so on
# rainin - [rain inches over the past hour)] -- the accumulated rainfall in the past 60 min
# dailyrainin - [rain inches so far today in local time]
# baromin - [barometric pressure inches]
# weather - [text] -- metar style (+RA)
# clouds - [text] -- SKC, FEW, SCT, BKN, OVC
# soiltempf - [F soil temperature]
#  * for sensors 2,3,4 use soiltemp2f, soiltemp3f, and soiltemp4f
# soilmoisture - [%]
# * for sensors 2,3,4 use soilmoisture2, soilmoisture3, and soilmoisture4
# leafwetness  - [%]
# + for sensor 2 use leafwetness2
# solarradiation - [W/m^2]
# UV - [index]
# visibility - [nm visibility]
# indoortempf - [F indoor temperature F]
# indoorhumidity - [% indoor humidity 0-100]
# 
#-----EXAMPLE URI UPLOAD:-----
# https://weatherstation.wunderground.com/weatherstation/updateweatherstation.php?ID=KCASANFR5&PASSWORD=XXXXXX&dateutc=2000-01-01+10%3A32%3A35&winddir=230&windspeedmph=12&windgustmph=12&tempf=70&rainin=0&baromin=29.1&dewptf=68.2&humidity=90&weather=&clouds=&softwaretype=vws%20versionxx&action=updateraw# 
