# where to log our stuff to
logFile="/var/log/weatherData.log"

# set to true to start sending stuff to wunderground
WEATHER_UPLOAD = True

# the weather underground settings
WU_URL = "http://weatherstation.wunderground.com/weatherstation/updateweatherstation.php"
wu_station_id = ""
wu_station_key = ""
